
@{
    ViewBag.Title = "Cadastrar";
}

<h3 class="text-center">Cadastrar Usuarios</h3>

<form action="@Url.Action("Store")" method="post" class="offset-4">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-contabilidade">Contabilidade</label>
                <select id="campo-contabilidade" name="idContabilidade" class="form-control">
                    <option disabled="disabled" selected="selected">Selecionar Contabilidade</option>
                    @foreach (Model.Contabilidade contabilidade in ViewBag.Contabilidades)
                    {
                        <option value="@contabilidade.Id">@contabilidade.Nome</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-login" class="text-center">Login</label>
                <input type="text" name="login" id="campo-login col-6" class="form-control" />

                <label for="campo-senha" class="text-center">Senha</label>
                <input type="password" name="senha" id="campo-senha col-6" class="form-control" />

                <label for="campo-dataNascimento" class="text-center">Data de Nascimento</label>
                <input type="date" name="dataNascimento" id="campo-dataNascimento col-6" class="form-control" value="2000-01-01"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-dark offset-5" type="submit"><i class="fas fa-save"></i> Salvar</button>
        </div>
    </div>
</form>

